body {
  background-color: #F9F9F9;
}
html {
  scroll-behavior: smooth;
}
section {
  padding-bottom: 100px;
}

/** Typefaces **/
h1 {
  font-family: 'Syne-bold', sans-serif;
  font-size: 26px;
  color: #2C2B26;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #2C2B26;
  padding-bottom: 10px;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #2C2B26;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  color: #2C2B26;
}

h5 {
  font-family: 'DM Sans' sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2C2B26;
}

p {
  font-family: 'DM Sans', sans-serif;
  line-height: 180%;
  letter-spacing: .25px;
  color: #2C2B26;
}

b {
  font-weight: 600;
  color: #2C2B26;
}

/** Navigation Bar **/
.customNav {
  position: fixed;
  width: 100%;
  background-color:#F9F9F9 !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: 200px;

  /**margin-left: auto;
  margin-right: 0 !important;**/
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown.item:focus, .dropdown.item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}
.customNav a {
  color: black !important;
}
.navCTA {
  font-size: 15px;
}

/** Button **/
button{
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  width: auto;
  border-radius: 5px;
  border-color: none;
  background-color: #F9F9F9;
  color: #2C2B26;
}

/** Cards**/
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
  padding: 20px;
}
.showsNear {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

/** Content / Row **/
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sideAccent{
  background: #007bff;
  width: 15px;
}
.imageContainer{
  padding: 50px;
}
.imageContainer img {
  width: 100%;
}

/** Footer **/
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
} 
.emailContain {
  background: url(../images/emailBG.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/** XTRA **/
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
